.topnav {
  background-color: #2E1F27;
  overflow: hidden;
  width: 1512px;
  height: 110px;
}

.topnav a {
  float: center;
  color: #59C3C3;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  padding: 33px 33px;
}

.topnav a:hover {
  color: #FFF;
}

.topnav a.active {
  color: #8D94BA;
}
